Repository senges/tovald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, yamllint

black:
  name: black
  language: system
  entry: uv
  args:
  - run
  - black
  - --diff
  - --check
  - --color
  - .
  pass_filenames: false

ruff:
  name: ruff
  language: system
  entry: uv
  args:
  - run
  - ruff
  - check
  pass_filenames: false

yamllint:
  name: yamllint
  language: system
  entry: uv
  args:
  - run
  - yamllint
  - .
  pass_filenames: false

ci(.github): add lint and build workflows
  .github/workflows/build-and-publish.yml
  .github/workflows/lint-and-test.yml
Due: yamllint

tests(main_test.py): update TestMain to use argparse instead of raw sys.argv
  tests/main_test.py
Due: black, ruff

feat(main.py): make main tests pass with argparse instead of sys.argv
  tovald/main.py
Due: black, ruff

docs(README.md): improve usage section
  README.md
Due: none

docs(LICENCE): add licence
  LICENSE
Due: none

fix(main.py): index toctree before copying assets (might be improved by better tree parsing
  tovald/main.py
Due: black, ruff

feat(pyproject.toml): bump release version to 0.1.0
  pyproject.toml
  uv.lock
Due: none

ci(.github): fix trigger to build only on new tag with `v` prefix
  .github/workflows/build-and-publish.yml
Due: yamllint

ci(.github): use pypi trusted publisher instead of token
  .github/workflows/build-and-publish.yml
Due: yamllint

ci(.github): add proper OIDC permissions to use trusted publisher
  .github/workflows/build-and-publish.yml
Due: yamllint

fix(pyproject.toml): add licence and exclude automatic licence file due to setuptools metadata version drift
  pyproject.toml
Due: none

feat(Dockerfile): add simple dockerfile
  Dockerfile
Due: none

ci(docker-build.yml): add docker build and push to ghcr.io
  .github/workflows/docker-build.yml
Due: yamllint

fix(docker-build.yml): use properly formatted github workflow variable context
  .github/workflows/docker-build.yml
Due: yamllint

fix(docker-build.yml): use ref_name instead of full ref
  .github/workflows/docker-build.yml
Due: yamllint

feat(pyproject.toml): bump release version to 0.1.1
  pyproject.toml
Due: none

feat: add page header to explicit page was generated automatically.
  pyproject.toml
  tovald/assets/.gitkeep
  tovald/assets/templates/header.tpl
  tovald/conf.py
Due: black, ruff

feat(pyproject.toml): bump release version to 0.1.2
  pyproject.toml
Due: none

chore(uv.lock): also bump version to 0.1.2
  uv.lock
Due: none

fix(__init__.py): properly fetch package version
  tovald/__init__.py
Due: black, ruff

feat(pyproject.toml): bump release version to 0.1.3
  pyproject.toml
  uv.lock
Due: none

feat(conf.py): add auto generated anchor slugs
  tovald/conf.py
Due: black, ruff

chore: remove custom header in favor of builtin confluence_page_generation_notice
  pyproject.toml
  tests/main_test.py
  tovald/assets/templates/header.tpl
  tovald/conf.py
  tovald/main.py
Due: black, ruff

feat(conf.py): use convenience function to get env variables
  tovald/conf.py
Due: black, ruff

feat(conf.py): add CONFLUENCE_SOURCES_URL variable support for source linking
  tovald/conf.py
Due: black, ruff

feat(pyproject.toml): bump release version to 0.1.4
  pyproject.toml
  uv.lock
Due: none

chore(conf.py): add missing empty line
  tovald/conf.py
Due: black, ruff

docs(README.md): add CONFLUENCE_SOURCES_URL documentation
  README.md
Due: none

docs: fix small typo in README
  README.md
Due: none

fix(main_test.py): update validate doc tree tests to support panic error messages
  tests/main_test.py
Due: black, ruff

feat(main.py): improve error messages with proper panic function
  pyproject.toml
  tovald/main.py
Due: black, ruff

fix(main.py): remove junk multiple h1 heading check
  tests/main_test.py
  tovald/main.py
Due: black, ruff

feat(pyproject.toml): bump release version to 0.1.5
  pyproject.toml
  uv.lock
Due: none

feat(docker-build.yml): also tag image as latest
  .github/workflows/docker-build.yml
Due: yamllint

feat(Dockerfile): add tovald to PATH
  Dockerfile
Due: none

feat(pyproject.toml): bump release version to 0.1.6
  pyproject.toml
  uv.lock
Due: none

feat(tests/main_test.py): add logging test suite
  tests/main_test.py
Due: black, ruff

feat: add compiler skeleton
  tests/compiler_test.py
  tovald/compiler/__init__.py
  tovald/compiler/main.py
Due: black, ruff

fix(pyproject.toml): update licence format, add explicit packages, and increase black line length to 120
  pyproject.toml
Due: none

feat(pyproject.toml): add pytest-cov for test coverage report
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
