Repository senges/tovald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, yamllint

.pre-commit-config.yaml:

---

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: uv
        args:
          - run
          - black
          - --diff
          - --check
          - --color
          - .
        pass_filenames: false
        types: [python]

      - id: ruff
        name: ruff
        language: system
        entry: uv
        args:
          - run
          - ruff
          - check
        pass_filenames: false
        types: [python]

      - id: yamllint
        name: yamllint
        language: system
        entry: uv
        args:
          - run
          - yamllint
          - .
        pass_filenames: false
        types: [yaml]

chore(.gitignore): add common python ignore files
  .gitignore
Due: none

feat(pyproject.toml): add coverage ingore configuration
  pyproject.toml
  tovald/main.py
Due: black, ruff

tests(compiler_test.py): add asset compiler test suite skeleton
  tests/compiler_test.py
Due: black, ruff

feat: cleanup method and publish prefix
  tests/main_test.py
  tovald/conf.py
  tovald/main.py
Due: black, ruff

ci(.github): run lint on PR, fix yaml linting errors
  .github/workflows/build-and-publish.yml
  .github/workflows/docker-build.yml
  .github/workflows/lint-and-test.yml
Due: yamllint

ci(.github): on push tag instead of create
  .github/workflows/build-and-publish.yml
  .github/workflows/docker-build.yml
Due: yamllint

ci(.github): run lint on any push
  .github/workflows/lint-and-test.yml
Due: yamllint

docs(README.md): add publish prefix and cleanup documentation
  README.md
Due: none
